<p id="notice"><%= notice %></p>


<H1>
  Manager Homepage
</H1>

<header>Employees</header>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Payrate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= number_to_currency employee.payrate %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


  </tbody>
</table>


<header> Deleted Employees</header>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Payrate</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @employees.only_deleted.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= number_to_currency employee.payrate %></td>

    </tr>

  <% end %>
  </tbody>
</table>

<br>
<%= link_to '<button type="button">Sales Report Index</button>'.html_safe, 'sales_report'%>
<%= link_to '<button type="button">Create New Employee</button>'.html_safe, new_employee_path %>
