<p id="notice"><%= notice %></p>
<header>Welcome to Coffee R Us</header>
<p> <strong>Choose if you are a Manager or Employee</strong></p>

<%= link_to '<button type="button">Managers</button>'.html_safe, employees_path %>
<%= link_to '<button type="button">Employees</button>'.html_safe, new_order_path %>
