<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer, id: :order_customer %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.collection_select :employee_id, Employee.all, :id, :name%>
  </div>

  <div class="field">
    <p>Choose the items for your order:</p>
    <%= form.fields_for :carts do |product|%>
<p>
    <%= product.collection_select :product_id, Product.all,:id,:name %>
</p>
    <% end %>
      </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :order_total %>
  </div>

  <div id="order_submit" class="actions">
    <%= form.submit %>
  </div>
<% end %>
