<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @order.employee.name %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= number_to_currency(@order.subtotal) %>
</p>

<p>
  <strong>Tax:</strong>
  <%= number_to_currency(@order.tax) %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@order.total) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.created_at.getlocal %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
