<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @cart.order %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cart.product %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cart.date %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
