<h1>Sales Report Index</h1>

<%= form_tag(sales_report_path, :method => :post) do %>

  <p> Start date</p>
  <%= date_field_tag :start_date %>

  <p> End date</p>
  <%= date_field_tag :end_date %>

  <br>


  <%= submit_tag "Submit" %>

  <% end %>

<h1>Orders</h1>

<table>
  <thead>
  <tr>
    <th>Customer</th>
    <th>Employee</th>
    <th>Subtotal</th>
    <th>Tax</th>
    <th>Total</th>
    <th>Date</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.customer %></td>
      <td><%= order.employee.name %></td>
      <td><%= number_to_currency order.subtotal %></td>
      <td><%= number_to_currency order.tax %></td>
      <td><%= number_to_currency order.total %></td>
      <td><%= order.created_at %></td>
      <td><%= link_to 'Show', order %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

