
button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}
.button{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
}

Header{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
}
.header{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}
p {
    font-family: "Times New Roman", Times, serif;
}

.box{
    margin: auto;
    width: 50%;

    padding: 70px 0;
}
table{
    width: 50%;
    margin: auto;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    margin: auto;
    width: 100%;

}
tr:hover {background-color: #f5f5f5;}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


input[type=submit]:hover {
    background-color: #45a049;
}
.field{
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 50%;
}

















/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
