<!DOCTYPE html>
<html>
  <head>
    <title>Semester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= link_to '<button type="button">Home</button>'.html_safe, 'http://localhost:3000/' %>
    <%= link_to '<button type="button">Managers</button>'.html_safe, managers_path %>
      <%= link_to '<button type="button">Orders</button>'.html_safe, orders_path %>
      <%= link_to '<button type="button">Products</button>'.html_safe, products_path %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
